.image-gallery.list .image-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.image-gallery.list .thumbnail {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-right: 15px;
}

.image-gallery.list .image-item .uk-button-danger {
  position:absolute;
  right:30px;
}
.image-gallery.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.image-gallery.grid .image-item {
  text-align: center;

  border: 1px solid whitesmoke;
}

.image-gallery.grid .thumbnail {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.image-info {
  margin-top: 5px;
  display: flex;

  align-items: center;
}

.image-info button {
  margin-bottom: 5px;
  margin-right: 5px;
}